SUPABASE_URL=https://ogqiddaunrysoqciiygo.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ncWlkZGF1bnJ5c29xY2lpeWdvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTU1NjkzOCwiZXhwIjoyMDkxMTMyOTM4fQ.JJ8e_SddSVAaTZh0YMFh0VN_LPv_ozx5BGOG32uktF4